<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-42933299-9"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'UA-42933299-9');
			</script>
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="https://medium.com/@pongiof">Medium</a></li>
				<li><a href="https://twitter.com/pongiof">Twitter</a></li>
				<li><a href="https://www.linkedin.com/in/francescopongetti/">Linkedin</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:pongiof@gmail.com">email</a></li>
	        		<li><a href="https://github.com/pongiof">github.com/pongiof</a></li>
				</ul>
			</footer>
		</body>
  </html>
